/data
/demo_wavelet
/RTOS/00_DOCS
/RTOS/.metadata
/RTOS/wavelib
/RTOS/Novelty/.settings
/RTOS/Novelty/Debug
/RTOS/Novelty/wavelib
/RTOS/Framework/.settings
/RTOS/Framework/Debug
/RTOS/Framework/wavelib